@tailwind base;
@tailwind components;
@tailwind utilities;

.emoji-marker-container {
	background: none !important;
  }
  
  .emoji-marker {
	font-size: 24px;
	text-align: center;
	line-height: 32px;
	text-shadow: 0 0 3px white;
  }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
